*{
    top:0;
    left:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    font-family: 'Roboto', sans-serif;
}


.container,.entity-cards,.entity-card,.appoint-cont,.navbar,.app-head,.tuple,.app-attr,.month{
    display: flex;
    flex-direction: row;
}

.menu,.profile-calender,.mainContent,.appointments,.app-tuples,.profile{
    display: flex;
    flex-direction: column;
}

.container{
    height:100vh;
    width:100vw;
}

.menu{
    height:100vh;
    width:30vw;
    background-color: #0d2fa8;
    color:white;
    font-weight: 600;
    font-size: 1.5rem;
    row-gap: 35px;
    padding: 50px 0 0 6%;
}

.menu-title{
    padding: 0 0 0 30px;
}

.mainContent{
    background-color:#f5f3f2;
    overflow-x: hidden;
}

.navbar{
    background-color: #cdddf7;
    min-width: 70vw;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
}

.nav-title{
    flex-grow: 1;
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    align-self: center;
}

.nav-search{
    position: relative;
}

#search{
    background-color: rgba(0, 0,0, 0);
    border-style: solid;
    border-radius: 10px;
    margin-right: 10px;
    height: 30px;
    padding-left: 30px;
}

#search:focus{
    outline: none;
}

#ser-ico{
    position: absolute;
    top:8px;
    left: 10px;
}

.entity-cards{
    justify-content: space-evenly;
    column-gap: 2vw;
    margin: 0px 2vw;
    width: 70vw;
}

.entity-card:first-child{
    background-color: #0d2fa8;
    color: white;
}

.entity-card{
    align-items: flex-end;
    justify-content:space-between;
    background-color: #fefffe;
    margin-top: 2vw;
    border-radius: 10px;
    width: 20.6vw;
    height: 100px;
    padding: 25px;
    font-size: 1.3rem;
}

.appointments{
    background-color: #fefffe;
    margin-top: 3vw;
    height: 63vh;
    max-height:600px;
    width:44.4vw;
    padding: 10px;
    row-gap: 10px;
    margin-left: 3vw;
    border-radius: 10px;
}

#see-but{
    background-color: #83b0ff;
    font-weight: 700;
    border-style: none;
    border-radius: 5px;
    height: 30px;
}

.div-line{
    background-color: rgba(81, 81, 81, 0.644);
    height: 1.5px;
    width: 40vw;
}

.app-head>a{
    flex-grow: 1;
    align-self: center;
    font-weight: 700;
}
.seeAll{
    flex-grow: 0.5;
}
.seeAll>input{
    width: 80px;
}

.app-attr{
    font-weight: 700;
}

.app-attr,.tuple{
    justify-content: space-around;
    text-align: center;
}

.app-attr>a,.tuple>a{
    width:14vw;
}

.profile{
    background-color: #0d2fa8;
    color: white;
    margin-top: 3vw;
    margin-left: 3vw;
    border-radius: 10px;
    row-gap: 34px;
    padding: 15px;
    width: 20vw;
    min-height: 28vh;
}

.pro-button{
    display: flex;
    justify-content: center;
}

.pro-info>p{
    word-wrap: break-word;
}

#profile-but{
    background-color: #c70c25;
    border-style: none;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.calender{
    background-color: #0d2fa8;
    color: white;
    margin-top: 1vw;
    margin-left: 3vw;
    border-radius: 10px;
    width: 20vw;
    padding: 8px;
    
}

.month{
    margin-top: 20px;
    justify-content: space-evenly;
}

.weekDates{
    margin: 40px 10px 0 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

@media only screen and (max-width:1200px){
    .appointments{
        width: 65vw;
    }
    .div-line{
        width: 60vw;
    }
    .appoint-cont{
        flex-direction: column-reverse;
    }
    .profile-calender{
        flex-direction: row;
    }
    .profile,.calender{
        min-width: 250px;
    }
    .calender{
        margin-top: 3vw;
    }
}

@media only screen and (max-width:1000px){
    .entity-card{
        /* display: flex; */
        flex-direction: column-reverse;
        align-items:center;
        justify-content: center;
        min-height:150px;
    }
    .entity-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width:780px){
    .profile-calender{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width:680px){
    .menu{
        display: none;
    }
    .mainContent{
        width: 100vw;
    }
    .appointments,.entity-cards{
        width: 95vw;
    }
    .entity-desc{
        display: none;
    }
    .entity-card{
        min-height: 50px;
    }
    .div-line{
        width: 90vw;
    }
    #search{
        width:20px;
    }
    .nav-title{
        display: flex;
        font-size: 1rem;
        font-weight: 700;
        column-gap: 10px;
        align-items: center;
    }
}
